<nav class="nav">

	<!-- logo -->
	<a class="logo" href="#">
		<img class="logo__image" src="../../images/logo/logo.svg" alt="logo">
	</a>
	
	<!-- main nav -->
	<ul class="nav__items">
		<li class="nav__item">
			<a class="nav__link" href="#"> Home </a>
		</li>
		<li class="nav__item">
			<a class="nav__link" href="#"> About us </a>
		</li>
		<li class="nav__item">
			<a class="nav__link" href="#"> Feedbacks </a>
		</li>
		<li class="nav__item">
			<a class="nav__link" href="#"> Contacts </a>
		</li>
	</ul>
	
	<!-- burger -->
	<div class="burger">
		<span></span>
	</div>
	
</nav>