.main {
	height: 80vh;
	@include d-flex(column);
	padding: 0 30px;

	&__title {
		font-size: 48px;
		line-height: 1.5;
		font-weight: 700;
		text-align: center;
		margin-bottom: 50px;
	}
}

.reminder {
	
	&__items {
		list-style-type: decimal;
	}
	
	&__item {
		letter-spacing: 1px;
		font-size: 16px;
		
		& + & {
			margin-top: 1rem;
		}
	}
}

// media queries
@import "./main_mq";