.footer {
	padding: 1rem;

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__text {
		line-height: 2;
	}

	b {
		font-weight: bold;
	}
}

// media queries
@import "./footer_mq";